@charset "UTF-8";

@import url(/lib/package/components/wrixby.css);
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

body {
  background: var(--body-bg) url(/assets/images/bg-pattern.webp) no-repeat
    center fixed;
  background-size: cover;
  font-family: var(--body-font-family);
}

a {
  text-decoration: none;
  color: var(--body-color);
  cursor: pointer;
}

a,
button,
img {
  transition: var(--transition);
}

.bg-highlight {
  position: relative;
}

.bg-highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-primary-light);
  height: 45px;
  width: 100%;
}

/* Footer Social Links */
.social-links {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.social-links a {
  color: var(--gray);
}

.social-links a:hover {
  color: var(--text-primary);
}

/* Documentation Styling */

/* Sidebar */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  margin-top: 3.5rem;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
}

.sidebar-item {
  margin: 0.5rem 0;
  color: var(--text-secondary);
  font-weight: 500;
}

.sidebar-item-link {
  display: block;
  margin-left: 1rem;
}

.sidebar-item-link:hover {
  color: var(--text-primary);
  transition: all 0.3s ease;
}

/* Component Demo Section */
.component-section {
  flex: 0 0 auto;
  width: 80%;
  max-width: 80%;
  flex-basis: 80%;
  position: relative;
  overflow: hidden;
}

.component-section-background {
  background-color: #fffcf2af;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.components-content {
  backdrop-filter: blur(10px);
  margin: 2rem;
}

/* Badge Example */
.badge-example {
  display: flex;
  gap: 1rem;
}

/* Avatar Component */
.avatar-component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.avatar-component .avatar-examples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

/* Code Snippets */
.code-snippets {
  width: 100%;
  max-width: 100%;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.code-snippets-xs {
  height: 12rem;
}

.code-snippets-sm {
  height: 20rem;
}

.code-snippets-md {
  height: 32rem;
}

.code-snippets-lg {
  height: 40rem;
}

/* Card Components */
.cards-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--gray-2);
  padding: 2rem;
}

.cards-group-2 .card {
  flex-grow: 1;
}

/* Image & Input Components */
.image-container,
.input-container,
.typography-container,
.lists-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--gray-1);
}

.input-container form {
  width: 25rem;
}

/* Typography Components */
.typography-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
}

/* Lists components */
.lists-container {
  gap: 2rem;
  align-items: flex-start;
}
